$main-color: #081158; // 
$nav-color:#cfddee; // 
$light:#f8f9fa; //
$main-transition: .3s; //
$half-transition: calc($main-transition / 2); //
$text-color:GREY;//
$text-hove-color:#afafaf;
$main-padding: 50px; //
$link-size:20px; //
$form-color: #bdcce5; // 
$social-color: #ec8675; //
$font-family: 'Roboto', sans-serif; //

// font-family: 'Permanent Marker', cursive;